
/**
 * Set a border over the text
 * @param $color
 */
@mixin text-border-shadow($color) {
    text-shadow: 2px 2px $color, 2px 2px $color, 2px 2px $color, 2px 
    2px $color;
}

/**
 * Set a shadow over the block
 * @param $color
 */
@mixin block-shadow($color) {
    -webkit-box-shadow: 2px 4px 18px 0px $color;
    -moz-box-shadow: 2px 4px 18px 0px $color;
    box-shadow: 2px 4px 18px 0px $color;
}

/**
 * Title format
 */
@mixin title-format() {
    font-size: 2.5em;
    font-weight: bold;
}